/*
 * Custom CSS
 */

 :root {
    --bs-body-bg: var(--bs-gray-100);
  }

  .circular-square { border-radius: 50%; height: 40px; width: 40px;}

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 9fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
 }